

.body, html, .main{
  display: flex;
  flex-direction: column; 
  text-align: center;
  color: cor;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../assets/images/dreamming.gif);
  background-repeat: no-repeat;
  background-size: cover; 
}


/* .play {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
} */


.grid {
  align-items: center; 
  box-shadow: 0 0 900px 0 rgb(20, 54, 94);
  display: flex;
  flex-grow: 1; 
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 462px;
  height: 462px;
  background-color: rgb(19, 23, 37);
  opacity: 0.8;
  filter: alpha(opacity=50); 
}

h1 {
  font-family: 'The Girl Next Door', cursive;
font: bold;
font-size: 42px;
  background: -webkit-linear-gradient(rgb(134, 132, 139), rgb(155, 92, 108));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grid-item {
  flex-grow: 2;
  height: 40px;
  width: 40px;
  background-color: rgb(138, 53, 92);
  border: solid rgb(30, 30, 53) 1px;
}


.snake {
  height: 40px;
  width: 40px; 
  background-image: url(../assets/images/pink\ cloud.png);
  top: 30%;
  left: 30%;
  border-radius: 50%;
  

}

.food {
  background-image: url(../assets/images/)
  background-size: contain;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
}



button {
  font-family: 'Space Mono', monospace;
  background-color: plum;
  border: 4px solid peru;
  cursor: pointer;
  color: yellow;
  transition: all 0.2s ease;
  padding: 8px 15px;
  outline: none !important;
}

p {
  font-size: 20px;
  color: rgb(240, 215, 225);
  font-style: italic;

}