

.body, html, .main{
  display: flex;
  flex-direction: column; 
  text-align: center;
  color: cor;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../assets/images/dreamming.gif);
  background-repeat: no-repeat;
  background-size: cover; 
}



.grid {
  align-items: center; 
  box-shadow: 0 0 900px 0 rgb(20, 54, 94);
  display: flex;
  flex-grow: 1; 
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 462px;
  height: 462px;
  background-color: rgb(19, 23, 37);
  opacity: 0.9;
  filter: alpha(opacity=50); 
}

h1 {
  font-family: 'The Girl Next Door', cursive;
font: bold;
font-size: 42px;
  background: -webkit-linear-gradient(rgb(134, 132, 139), rgb(155, 92, 108));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grid-item {
  flex-grow: 2;
  height: 40px;
  width: 40px;
  background-color: rgb(19, 23, 37); 
  border: solid rgb(19, 23, 37) 1px; 
  display: flex;
}


.snake {
  background-color: rgb(155, 92, 108);
  transform: scale(0.3);
  /* height: 25px;
  width: 25px;  */
  border-radius: 50%;
}



.food {
  background-image: url(../assets/images/Dream-PNG-Clipart.png);
  background-size: contain;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}



button {
  font-family: 'Space Mono', monospace;
  background-color: plum;
  border: 4px solid peru;
  cursor: pointer;
  color: yellow;
  transition: all 0.2s ease;
  padding: 8px 15px;
  outline: none !important;
}

p {
  font-size: 20px;
  color: rgb(240, 215, 225);
  font-style: italic;

}

.head {
  background-image: url(../assets/images/meditating\ yogi.png);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0%;
  transform: scale(1);
  /* opacity: 0; */
  background-size: contain;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.score-catcher {
  /* height: 130px;
  width: 101px; */
}